<h2>Name of the task: <%= @task.content %></h2>
<h2>Priority of the task: <%= @task.priority %></h2>
<h2>Is the task done? <%= @task.done %> </h2>
<hr>
<%= link_to "Back to the list of tasks", tasks_path %>
